h1{
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-family: 'Oxygen', sans-serif;
  margin-top: 10px;
  margin-left: 700px;

}

h2{
  color: black;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 280px;
}

#pf{
  color: black;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 250px;
}


p{
  color: black;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 700px;

}

#profile{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(2700deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    height: 40%;
    width: 40%;

}

ul{
  list-style-type: circle;
  color: black;
  font-family: 'Oxygen', sans-serif;

  font-size: 25px;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 900px;
}
